# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

.out
*.vs
test_res/*

_libs/2c_common
_libs/encoding
_libs/marty_cpp
_libs/sfmt
_libs/umba

/_prj_msvc/*.user
/test_res
/2c-help.txt
/umba-2c-help.txt
/umba-2rcfs-help.txt
/_libs/marty_utf
*.user
